<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Active</th>
            <th>Employee ID</th>
            <th>Subscription ID</th>
            <th>Customer ID</th>
            <th>Car ID</th>
            <th>Damage report</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="contracts: ${contractlist}">
            <td th:text="${contracts.rentalContractId}" />
            <td th:text="${contracts.startDate}" />
            <td th:text="${contracts.endDate}" />
            <td th:text="${contracts.isOngoing}" />
            <td th:text="${contracts.employeeId}" />
            <td th:text="${contracts.subscriptionId}" />
            <td th:text="${contracts.customerId}" />
            <td th:text="${contracts.carId}" />
            <td th:text="${contracts.damageReportId}" />
        </tr>
        </tbody>
    </table>

</body>
</html>