<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Rental Contract</title>
  <link rel="stylesheet" type="text/css" href="/styles/Main.css">
</head>
<body>
<header>

</header>
<main>
    <div>
        <form action="/createRentalContract" method="post">
            <label>Enter start date</label>
            <input type="text" name="startDate">
            <label>Enter end date</label>
            <input type="text" name="endDate">
            <input type="text" th:value="${employeeId}" style="display:none">
        </form>
    </div>

</main>
<footer>
</footer>
</body>
</html>