<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Rental Contract</title>
  <link rel="stylesheet" type="text/css" href="/styles/Main.css">
</head>
<body>
<header>

</header>
<main>
    <div>
        <form action="/createRentalContract" method="post">
            <label>Start date</label>
            <input type="text" name="startDate">
            <label>End date</label>
            <input type="text" name="endDate">
            <input type="text" th:value="${employeeId}" style="display:none">
            <label>Subscription type</label>
            <input type="text" name="subscriptionId">
            <label>Customer ID</label>
            <input type="text" name="customerId">
            <label>Car ID</label>
            <input type="text" name="carId">
            <label>Damage report ID</label>
            <input type="text" name="damageReportId">
        </form>
    </div>

</main>
<footer>
</footer>
</body>
</html>