main{
    padding: 10px 20px;
}

.form-container{
    font-size: 18px;
}

.form-container label{
    font-weight: bold;
}

.form-container form{
    padding: 20px;
}

.comment_area, select{
    border: 2px solid #093a4e;
}

.overdriven_km_input{
    border: 2px solid #093a4e;
}

input[type=checkbox]{
    outline: 2px solid #093a4e;
    cursor: pointer;
}

.create_damage_btn{
    background-color: var(--indigo_dye);
    color: var(--picton_blue);
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 7px;
    cursor: pointer;
    border: 0px solid transparent;

}

.create_damage_btn:hover{
    background-color: #072a38;
    transition-duration: 0.2s;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

