#car_image{
    width: 100%;
    vertical-align: middle
}
table{
    display: table;
    table-layout: fixed;
    justify-content: center;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin: auto;
    padding: 1px;
    font-size: 100%;
}
th{
    border: 1px solid black;
    padding: 7px;
}
td{
    border: 1px solid black;
}

tbody tr:nth-child(odd) {
    background-color: #d7d7d7;
}

.delete_btn{
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
    max-width: fit-content;
    background-color: #ff0000;
    color: #fff;
}